@{
  Layout = "_Layout";
}

@using AnimalShelter.Models;
@model List<AnimalShelter.Models.Animal>;

<h1>Animals</h1>

@if (@Model.Count == 0)
{
  <h3>No animals have been added yet!</h3>
}

<ul>
  @foreach(Animal animal in Model)
  {
      <li>@Html.ActionLink($"{animal.Name}", "Details", new { id = animal.AnimalId }), @animal.Breed, @animal.AdmittanceDate, @animal.Type</li>
  }
</ul>


<form action ="/animals/index">
  <label for="sorting">SORT THE LIST BY:</label>
  <select id="sorting" name="sorting">
    <option value ="breed">BREED</option>
    <option value ="admittance-date">ADMITTANCE DATE</option>
  </select>
<button type = "submit">Sort</button>

<!-- 
<form action="/animals" method="post">
  <ul>
    <li>
      <input type="checkbox" id="purchased" name="breed" value="true">
      <label for="purchased">Purchased</label>
    </li>
    <li>
      <input type="checkbox" id="packed" name="packed" value="true">
      <label for="packed">Packed</label>
    </li>
    <li>
      <input type="checkbox" id="bagchecked" name="bagchecked" value="true">
      <label for="bagchecked">Bag Checked</label>
    </li>
    <button type="submit">Submit</button>
  </ul>
</form> -->

<p>@Html.ActionLink("Add new animal", "Create")</p>
